<form class="align-center">
  <mat-form-field>
    <input matInput placeholder="city">
  </mat-form-field>

</form>

<mat-card *ngIf="cityForecast.length > 0" >
  <mat-card-content>
    <div class="day" *ngFor="let day of cityForecast" >
      <h3>{{ day.day | date: 'EEEE, MMMM d' }}</h3>
      <img src="https://raw.githubusercontent.com/alvaro911/weatherApp/master/icons/{{ day.icon }}.png" alt="image" width="100">
      <p>{{ day.tempMax }} °C</p>
      <p>{{ day.tempMin }} °C</p>
    </div>
  </mat-card-content>
</mat-card>
