<form class="align-center">
  <mat-form-field>
    <input matInput placeholder="city">
  </mat-form-field>

</form>

<mat-card>
  <mat-card-content>
    <div class="day">
      <h3>Saturday, April 6</h3>
      <img src="https://openweathermap.org/img/w/01d.png" alt="image">
      <p>12.12 °C</p>
      <p>11.77 °C</p>
    </div>
  </mat-card-content>
  <mat-card-content>
    <div class="day">
      <h3>Saturday, April 6</h3>
      <img src="https://openweathermap.org/img/w/01d.png" alt="image">
      <p>12.12 °C</p>
      <p>11.77 °C</p>
    </div>
  </mat-card-content>
  <mat-card-content>
    <div class="day">
      <h3>Saturday, April 6</h3>
      <img src="https://openweathermap.org/img/w/01d.png" alt="image">
      <p>12.12 °C</p>
      <p>11.77 °C</p>
    </div>
  </mat-card-content>
  <mat-card-content>
    <div class="day">
      <h3>Saturday, April 6</h3>
      <img src="https://openweathermap.org/img/w/01d.png" alt="image">
      <p>12.12 °C</p>
      <p>11.77 °C</p>
    </div>
  </mat-card-content>
  <mat-card-content>
    <div class="day">
      <h3>Saturday, April 6</h3>
      <img src="https://openweathermap.org/img/w/01d.png" alt="image">
      <p>12.12 °C</p>
      <p>11.77 °C</p>
    </div>
  </mat-card-content>
</mat-card>
